# Bundle directory
/.bundle/

# RubyMine project directory.
/.idea/

# NetBeans project directory.
/nbproject/

# Generated env configurator.
/Bin/env.bat

# User configuration file.
/Configuration/user.yaml
