-# Shows a summary for a test.

- run_config = @content[:run_config]
- application_name = run_config.application.application_name

.header
  = scoped_partial('header', application_name)
.content
  = scoped_partial('test_results', application_name)
