div#login_container {
    position: fixed;
    left: 50%;
    top: 250px;

    width: 350px;
    min-height: 175px;
    margin-top: -100px;
    margin-left: -175px;

    font-size: 90%;
    border: 1px solid gray;
    background-color: white;
}

div.login_form {
}

div.login_form div.title {
    text-align: center;
    font-weight: bold;
    font-size: 170%;
    margin-top: 15px;
    margin-bottom: 30px;
}

div.login_form div.row {
    margin: 5px 40px;
}

div.login_form label {
    display: inline-block;
    min-width: 80px;
    text-align: left;
    font-weight: 300;
}

div#message {
    display: none;
    margin-bottom: 10px;
    margin-left: 35px;
    margin-right: 40px;
    padding-left: 5px;
    padding-top: 2px;
    padding-bottom: 2px;

    font-size: 90%;
    color: rgba(0, 0, 0, 0.7);
    border: 1px solid orangered;
    background-color: rgba(255, 0, 0, 0.2);
}

div.buttons {
    padding-top: 10px;
    padding-left: 140px;
}

input#username {
    width: 170px;
}
input#password {
    width: 170px;
}
input#login_button {
    margin-right: 3px;
}
a#cancel_button {
    margin-left: 3px;
}
