/** Contains styles for the report's header (i.e. title bar).

/** Container for the report's header. */
div.header {
    clear: both;
    width: 100%;
    padding-bottom: 15px;
    position: relative;
}

/* Container for the title bar. */
div.header_bar {
    padding-top: 20px;
    margin: 15px 15px 0;
}

/* The title of the report. */
div.header_text {
    font-size: 120%;
    font-weight: bold;
    padding-bottom: 5px;
    border-bottom: 5px solid black;
}

div.header_items {
    font-size: 80%;
    float: right;
    margin-top: 15px;
}

div.header_item {
    float: right;
    min-width: 50px;
    margin-left: -1px;
    padding: 2px 8px 4px;
    text-align: center;
}
/* The login link. */
span#login_link {
}

/*  The container for the header's breadcrumbs. */
div.header_crumbs {
    margin-top: 10px;
    padding-left: 5px;
    padding-top: 4px;
    padding-bottom: 5px;
    border-bottom: 1px solid gray;
}

/* The container for each header breadcrumb. */
span.header_crumb {
    display: inline-block;
    font-size: 80%;
}
/** The container for active breadcrumbs. */
span.header_crumb.active {
}

div.flash_messages {
    margin-top: 10px;
}
span.flash_message {
    font-size: 90%;
    margin-top: 2px;
    margin-bottom: 2px;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 10px;
    display: block;
    border: 1px solid gray;
}
span.flash_message.pass {
    color: rgba(0, 0, 0, 0.7);
    border: 1px solid green;
    background-color: rgba(107, 255, 77, 0.27);
}
span.flash_message.warn {
    color: rgba(0, 0, 0, 0.7);
    border: 1px solid orange;
    background-color: rgba(255, 165, 0, 0.3);
}
span.flash_message.fail {
    color: rgba(0, 0, 0, 0.7);
    border: 1px solid orangered;
    background-color: rgba(255, 0, 0, 0.2);
}

/*  The container for the header's links. */
div.header_links {
    display: inline-block;
    padding-top: 15px;
}
/* The container for each header link. */
span.header_link {
    float: left;
    font-size: 90%;
    padding: 4px 12px 2px;
    border-bottom: 2px solid gray;
}
/** The container for active links. */
span.header_link.active {
    padding-top: 3px;
    padding-bottom: 3px;
    border-radius: 5px 5px 0 0;
    border: 1px solid gray;
    border-bottom: 0;
}