-# Layout for all web pages.

!!! HTML
%html
  %head
    %link{rel:'icon', type: 'image/jpg', href: link('images/favico.jpg')}
    - @header[:scripts].each do |script|
      %script{type: 'text/javascript', src: link('scripts', script)}
    - @header[:styles].each do |style|
      %link{type: 'text/css', rel:'stylesheet', href: link('styles', style)}
    %title= @header[:page_title]
  %body
    = yield
