-# Renders the run summary item.

- run_result = @content[:run_result]
- status = entity_status(run_result)
.test_count
  = run_result_status_test_count_html(run_result)
.run_status
  - if status == Automation::Status::Complete
    - spans = run_result_status_change_html(run_result)
    = spans
  - else
    = status_text(status)
