-# Renders the content header nav bar.

-# skip_non_official - local variable provided by the calling template.

- run_result = @content[:run_result]
- run_config = run_result.run_config
- application_name = run_config.application.application_name
- previous_run_result = @results_database.get_previous_run_result(run_result, false, skip_non_official)
- next_run_result = @results_database.get_next_run_result(run_result, false, skip_non_official)

- unless previous_run_result.nil?
  %span.navigation.previous
    - args = {locals: {entity: previous_run_result}}
    %a{href: link(@header[:nav_prefix], previous_run_result.run_name, @header[:page_name])}
      %img.arrow{src: link('images', 'arrow-left.png'), alt: 'previous', title: 'Navigate to the previous run result'}
      = scoped_partial('result_icon', application_name, args)
      = previous_run_result.run_name
%span.navigation
  - if skip_non_official
    Official
  - else
    %a{href: link('config', application_name, run_config.config_name, 'index.html')} Full history
- unless next_run_result.nil?
  %span.navigation.next
    - args = {locals: {entity: next_run_result}}
    %a{href: link(@header[:nav_prefix], next_run_result.run_name, @header[:page_name])}
      = scoped_partial('result_icon', application_name, args)
      = next_run_result.run_name
      %img.arrow{src: link('images', 'arrow-right.png'), alt: 'next', title: 'Navigate to the next run result'}